<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - IYA.Flow</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/variables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/workspace.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cards.css" asp-append-version="true"/>

</head>


<body>

    <div class="app">

        <aside class="sidebar">

            <div class="logo">

                🦋

                <div>

                    <h2>IYA.Flow</h2>

                    <span>Flow through your work.</span>

                </div>

            </div>

            <nav>

                <a asp-controller="Dashboard" asp-action="Index">
                    @* Dashboard *@
                    <i data-lucide="layout-dashboard"></i>

                    <span>Dashboard</span>
                </a>

                <a asp-controller="Workspace" asp-action="Index">
                    <i data-lucide="folders"></i>
                    <span>Workspaces</span>
                </a>

                <a asp-controller="Project" asp-action="Index">
                    <i data-lucide="kanban-square"></i>
                    <span>Projects</span>
                </a>

                <a asp-controller="Task" asp-action="Index">
                    <i data-lucide="check-square"></i>
                    <span>Tasks</span>
                </a>

                <a asp-controller="Calendar" asp-action="Index">
                    <i data-lucide="calendar-days"></i>
                    <span>Calendar</span>
                </a>

                <a asp-controller="Note" asp-action="Index">
                    <i data-lucide="notebook-pen"></i>
                    <span>Notes</span>
                </a>

                <a asp-controller="IaAssistant" asp-action="Index">
                    <i data-lucide="sparkles"></i>
                    <span>AI Assistant</span>
                </a>

                <a asp-controller="Setting" asp-action="Index">
                    <i data-lucide="settings"></i>
                    <span>Settings</span>
                </a>

            </nav>

        </aside>

        <div class="main">

            <header class="topbar">

                <div>

                    <h3>@ViewData["Title"]</h3>

                    <span>Designed with elegance & purpose.</span>

                </div>

            </header>

            <main class="content">

                @RenderBody()

            </main>

        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)

@* </body> *@


<script src="https://unpkg.com/lucide@latest"></script>

<script>
    lucide.createIcons();
</script>

</body>
</html>